<main class="container col-md-4">
  <div class="card">
    <div class="card border-primary mb-3">
        <h4 class="card-header">{{entry.title}}</h4>
        <div class="card-body text-primary">
        <p class="card-text" style="white-space: pre-line">{{entry.text}}</p></div>
        <button type="button" class="btn btn-outline-info">Click on entry to delete it permanently</button>
    </div>
  </div>
</main>
