<main class="container col-md-4">
  <div class="card">
    <div class="card border-primary mb-3">
        <h3 class="card-header">{{entry.title}}</h3>
        <div class="card-body text-primary">
        <p class="card-text">{{entry.text}}</p></div>
        <button type="button" class="btn btn-outline-info">Delete this entry forever</button>
    </div>
  </div>
</main>
